<h2>Advertising</h2>
<p>This site displays advertisements served by Google AdSense. Google and its third-party vendors
use cookies (including the DoubleClick DART cookie) to serve ads based on your prior visits to
this and other websites. You can opt out of personalized advertising at
<a href="https://adssettings.google.com/">Google Ads Settings</a> and at
<a href="https://optout.aboutads.info/">optout.aboutads.info</a>. For details on how Google
uses data when you use our partners' sites or apps, see
<a href="https://policies.google.com/technologies/partner-sites">How Google uses information from
sites or apps that use our services</a>.</p>
